<nav aria-label="...">
  <ul class="pagination">
       {% if page.has_previous %}
    <li class="page-item disabled">
       <a href="?page={{page.previous_page_number}}"> <span class="page-link">Попередня</span></a>
    </li>
       {% endif %}
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active" aria-current="page">
      <span class="current">
            Cторінка {{ page.number }} з {{ page.paginator.num_pages }}
        </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
       {% if page.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}"> Наступна  </a>
    </li>
      {% endif %}
  </ul>
</nav>